<div class="hero_area">
    <div class="bg-box" style="background-image: url('{{site.image | replace: '.webp', '-small.webp' }}'); background-size: cover; background-position: center;">
        <!--<source srcset="/media/{{page.image | default: site.image }}-large.webp" media="(min-width: 1800px)">
            <source srcset="/media/{{page.image | default: site.image }}-small.webp" media="(min-width: 600px)">-->
        <img src="{{page.image | default: site.image }}" loading="lazy" alt="Hero background">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/index.html">
                    <h3 style="color: #fff">
                        47 herri
                    </h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item ">
                            <a class="nav-link" href="/index.html">47 herri </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/baliabideak.html">Baliabideak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/parrokiak.html">Parrokiak</a>
                        </li>
                    </ul>
                    {% include module name='translate' %}
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    {% if page.url == "/" %}
    <!-- slider section -->
    <section class="slider_section" v-scope>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div v-for="(event, index) in groupedEvents(/hiletak|ekitaldi|aitortzaren/,[])" class="carousel-item" :class="{ active: index == 0 }">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 events">
                                <!-- Primer grupo -->
                                <div class="detail-box" style="margin-bottom: 0px;">
                                    <h2>
                                        [[ event.title ]]
                                    </h2>
                                    <div class="container overflow-hidden">
                                        <img v-if="event.image" loading="lazy" class="img-fluid circle-img" :src="event.image" style="width: 40%; float: right;" alt="">
                                        <p>[[ event.notes ]]</p>
                                        <p class="location-mark">[[ event.location ]]</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            [[ event.dates[0] ]]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" :data-slide-to="index" v-for="(event, index) in groupedEvents(/hiletak|ekitaldi|aitortzaren/,[])" :class="{ active: index == 0 }"></li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end slider section -->
    {% endif %}
</div>