<script>
// https://www.conroyp.com/articles/improve-load-time-performance-lazily-loading-background-images
// Check for IntersectionObserver support
if ('IntersectionObserver' in window) {
    document.addEventListener("DOMContentLoaded", function() {

        function handleIntersection(entries) {
            entries.map((entry) => {
                if (entry.isIntersecting) {
                    // Item has crossed our observation
                    // threshold - load src from data-src
                    entry.target.style.backgroundImage = "url('" + entry.target.dataset.lazybg + "')";
                    // Job done for this item - no need to watch it!
                    observer.unobserve(entry.target);
                }
            });
        }

        const elems = document.querySelectorAll('[lazybg]');
        const observer = new IntersectionObserver(
            handleIntersection, { rootMargin: "100px" }
        );
        elems.forEach(elem => observer.observe(elem));
    });
} else {
    // No interaction support? Load all background images automatically
    const elems = document.querySelectorAll('[lazybg]');
    elems.forEach(elem => {
        elem.style.backgroundImage = "url('" + elem.dataset.lazybg + "')";
    });
}
</script>