<script>
function loadMap() {

    let mapDiv = document.querySelector('#map')
    if (!mapDiv) return
    let mapfilter = mapDiv.dataset.mapfilter


    var supportsTouch = 'ontouchstart' in window || navigator.msMaxTouchPoints;

    var map = L.map('map', { fullscreenControl: true, zoomControl: !supportsTouch }).fitBounds([
        [42.879634, -1.658455],
        [43.263256, -2.0709]
    ])

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; Carto - OpenStreetMap'
    }).addTo(map);

    var redIcon = L.icon({
        //iconUrl: '/media/location-sign-svgrepo-com.svg', //
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        //shadowUrl: '/media/location-sign-svgrepo-com.svg', //'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [20, 32],
    });

    let blueIcon = L.icon({
        iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png',
        iconSize: [20, 32],
    });


    /*function onMapClick(e) {
        alert("You clicked the map at " + e.latlng);
    }

    map.on('click', onMapClick);*/

    fetch('/assets/map.geojson') // Load the JSON file
        .then(response => response.json()) // Convert the response to JSON
        .then(data => {
            L.geoJSON(data).addTo(map);
        })
        .catch(error => {
            console.error('Error loading the JSON data:', error);
        });

    fetch('/assets/site.json') // Load the JSON file
        .then(r => r.json()) // Convert the response to JSON
        .then(site => {
            let pages = site.pages
            for (var i = 0; i < pages.length; i++) {
                let page = pages[i]
                if (!page.locations) continue
                for (var j = 0; j < page.locations.length; j++) {
                    let loc = page.locations[j]
                    if (!loc.geo || !loc.name) continue
                    let name = `${loc.name} (${page.title})`

                    let config = { icon: redIcon }
                    if (loc.name.includes('baseliza')) {
                        config.icon = blueIcon
                    }
                    let geo = loc.geo.split(', ')

                    var htmlContent = `<a href="${page.url}">
                    <h3 class="notr" style="text-transform: capitalize; color: black;text-align: center;">
                                            ${ name }
                                        </h3>
                                <div style="margin: 0;background: white;">
                                        <img width="100%" style="width:100%; aspect-ratio: 16/9; object-fit: cover;" loading="lazy" src="${ page.image } " alt="">
                                </div>
                        </a>`;
                    var marker = L.marker(geo, config).addTo(map).bindPopup(htmlContent)
                    if (mapfilter && !name.includes(mapfilter)) {
                        marker._icon.style.opacity = '0.3'
                        marker._icon.style.filter = 'grayscale(1)'
                        //marker._icon.style.transform += ' scale(0.5)'
                    }
                }

            }
        })
        .catch(error => {
            console.error('Error loading the JSON data:', error);
        })
}
window.addEventListener("load", function() {
    loadMap()
});
</script>
<csshead>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
</csshead>
<footer>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script defer src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- fullscreen -->
    <script defer src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
</footer>
<template>
    <div style="width: 100%; aspect-ratio: 1;" id="map" data-mapfilter='{{ include.params.filter }}'></div>
</template>
<style>
.bounce {
    animation: bounce 0.6s infinite alternate ease-in-out;
}

.leaflet-popup-content {
    margin: 10px;
    max-width: 250px !important;
}

.leaflet-container a.leaflet-popup-close-button {
    font-size: 25px;
    font-weight: bold;
    top: 3px;
    right: 3px;
    color: #009C46;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.leaflet-pane>svg path.leaflet-interactive {
    stroke: none;
    fill: red;
}
</style>