---
layout: none
---
{% include head.html %}

<body>
    {% include header.html %}
    <!-- client section - ->
    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>
                    Próximos eventos
                </h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Moana Michell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img loading="lazy" src="media/client1.webp" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Mike Hamell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img loading="lazy" loading="lazy" src="media/client2.webp" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- end client section -->
    <section class="offer_section layout_padding-bottom">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Datozen ospakizunak
                </h2>
            </div>
            <div class="">
                {% include module name='events' ordering="/hiletak|ekitaldiak|aitortzaren/i,['none', 'type', 'dates','none','long']" %}
            </div>
            <div class="heading_container heading_center">
                <h2>
                    Mezak
                </h2>
            </div>
            <div class="">
                {% include module name='events' ordering="/mezak/,['none', 'weekend', 'time', 'none', 'location', 'notes']" %}
            </div>
        </div>
    </section>
    <section class="layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Eguneroko meza</h2>
            </div>
            <div class="row">
                {% include module name='infinite' filter='.' %}
            </div>
        </div>
    </section>
    <!-- food section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Gure herriak
                </h2>
            </div>
            {%- assign valleys = "" | split: "," -%}
            {%- for page in site.pages -%}
            {%- if page.valley -%}
            {%- assign valley = page.valley | strip -%}
            {%- unless valleys contains valley -%}
            {%- assign valleys = valleys | push: valley -%}
            {%- endunless -%}
            {%- endif -%}
            {%- endfor -%}
            <ul class="filters_menu">
                <li class="active" data-filter="*">Guztiak</li>
                {% for valley in valleys %}
                <li data-filter=".{{ valley }}">{{ valley }}</li>
                {% endfor %}
            </ul>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="search-container" v-scope>
                            <input type="text" class="form-control search-input" :placeholder="tr('Bilatu')">
                            <i class="search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    {% for page in site.pages %}{% if page.path contains 'herriak' %}
                    <div class="col-6 col-sm-4 col-lg-3 all {{ page.valley | strip }}" style="padding: 0 7px">
                        <a href="{{page.url}}">
                            <div class="box">
                                <div>
                                    <div class="img-box default-bg">
                                        <img loading="lazy" src="{{ page.image }} " alt="">
                                    </div>
                                    <div style="padding: 20px; text-align: center;">
                                        <h4 class="notr" style="text-transform: capitalize;">
                                            {{ page.title | default: page.name | capitalize | replace: ".md", "" }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end food section -->
    <!-- offer section -->
    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Gure apezak
                    </h2>
                </div>
                <div class="row">
                    {% for collab in page.collaborators %}
                    <div class="col-md-4  ">
                        <div class="box ">
                            <div class="img-box">
                                <img loading="lazy" src="{{ collab.image }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>{{ collab.name }}</h5>
                                <blockquote>
                                    {{ collab.description }}
                                </blockquote>
                                <a href="tel:+34{{ collab.phonenumber | replace: ' ', '' | default: '948510080'  }}">Deitu</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end offer section -->
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img loading="lazy" src="media/about-img.webp" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Gure pastoral barrutia
                            </h2>
                        </div>
                        <div>
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding-bottom: 3em;">
                    {% include module name='maps' %}
                </div>
                <div class="col-md-6">
                    <div class="heading_container">
                        <h2>
                            Idatz ezazu
                        </h2>
                    </div>
                    <div class="form_container">
                        <form id="contactForm" v-scope>
                            <div>
                                <input type="text" class="form-control" :placeholder="tr('Zure izena')" name="izena" :required="tr('Beharrezko eremua')" />
                            </div>
                            <div>
                                <input type="email" class="form-control" :placeholder="tr('Zure helbide elektronikoa')" name="email" :required="tr('Beharrezko eremua')" />
                            </div>
                            <div>
                                <textarea type="msg" class="form-control" rows="4" :placeholder="tr('Zure mezua')" name="mezua" :required="tr('Beharrezko eremua')"></textarea>
                            </div>
                            <div class="btn_box">
                                <a onclick="sendForm('#contactForm')">
                                    Bidal ezazu
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->
    {% include footer.html %}
    <script type="text/javascript">
    // Contact form
    function sendForm(selector) {
        let fields = document.querySelectorAll(selector + ' :is(input, select, textarea)')
        let message = {}
        for (var i = 0; i < fields.length; i++) {
            let key = fields[i].name || fields[i].id
            if (fields[i].required && !fields[i].value) {
                fields[i].parentNode.classList.add('required')
                fields[i].parentNode.dataset.required = vueApp.tr('Beharrezko eremua')
                return
            } else {
                fields[i].parentNode.classList.remove('required')
            }
            message[key] = fields[i].value
        }

        var xhr = new XMLHttpRequest();
        let url = `https://arrietaeguren.es/api/email47herri?message=${JSON.stringify(message, null, 2)}&from=${message.email}&subject=Mezu berria: ${message.izena}`
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function() {
            let form = document.querySelector(selector)
            if (this.readyState !== 4 || this.status !== 200) {
                form.classList.add('success')
                form.dataset.success = 'Error... ' + this.responseText
                return; // TODO: smarter error handling
            }
            // Clear
            for (var i = 0; i < fields.length; i++) { fields[i].value = '' }
            form.classList.add('success')
            form.dataset.success = vueApp.tr('Eskerrik asko zure mezuagatik!')
        };
        xhr.send();
        console.log(message)
    }
    </script>
    <style type="text/css">
    form .btn_box a {
        margin-top: 15px;
        border: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 55px;
        background-color: #009C46;
        color: #ffffff !important;
        cursor: pointer;
        border-radius: 45px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }

    .required :is(input, textarea, select) {
        border: 1.5px solid red;
    }

    .required:before {
        content: attr(data-required);
        color: red;
        font-size: small;
    }

    form.success:after {
        content: attr(data-success);
        color: blue;
        font-size: small;
    }
    </style>
</body>

</html>