{% include head.html %}

<body>
    {% include header.html %}
    <!-- client section -->
    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>
                    Próximos eventos
                </h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Moana Michell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img loading="lazy" src="media/client1.webp" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <h6>
                                    Mike Hamell
                                </h6>
                                <p>
                                    magna aliqua
                                </p>
                            </div>
                            <div class="img-box">
                                <img loading="lazy" loading="lazy" src="media/client2.webp" alt="" class="box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end client section -->
    <section class="offer_section layout_padding-bottom">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    {% include module name='events' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% include module name='maps' %}
                </div>
            </div>
        </div>
    </section>
    <!-- offer section -->
    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Gure apaizak
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4  ">
                        <div class="box ">
                            <div class="img-box">
                                <img loading="lazy" src="media/inaxio.webp" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Inaxio Azcoaga
                                </h5>
                                <blockquote>
                                    El rey de los tejados
                                </blockquote>
                                <a href="">Llamar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  ">
                        <div class="box ">
                            <div class="img-box">
                                <img loading="lazy" src="media/santi.webp" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Santi Garisoain
                                </h5>
                                <blockquote>
                                    La paloma
                                </blockquote>
                                <a href="">Llamar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  ">
                        <div class="box ">
                            <div class="img-box">
                                <img loading="lazy" src="media/sotil.webp" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Jesús Mª Sotil
                                </h5>
                                <blockquote>
                                    El abuelo
                                </blockquote>
                                <a href="">Llamar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end offer section -->
    <!-- food section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Gure herriak
                </h2>
            </div>
            <ul class="filters_menu">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".imotz">Imotz</li>
                <li data-filter=".basaburua">Basaburua</li>
                <li data-filter=".larraun">Larraun</li>
                <li data-filter=".leitzaran">Leitzaran</li>
                <li data-filter="....">...</li>
            </ul>
            <div class="container">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="search-container">
                            <input type="text" class="form-control search-input" placeholder="Bilatu...">
                            <i class="fas fa-search search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    {% assign items = "imotz, basaburua, larraun, leitzaran" | split: ", " %}
                    {% for herri in site.pages %}{% if herri.path contains 'herriak' %}
                    {% assign index = forloop.index0 | modulo: items.size %}
                    {% assign index2 = forloop.index0 | modulo: 3 %}
                    <div class="col-6 col-sm-4 col-lg-3 all {{ items[index] }}">
                        <a href="{{herri.url}}">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img loading="lazy" src="media/f{{ index2 }}.webp" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5 style="text-transform: capitalize;">
                                            {{ herri.title }}
                                        </h5>
                                        <p>
                                            Veniam debitis quaerat officiis quasi...
                                        </p>
                                        <!--<div class="options">
                                            <h6>
                                            </h6>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}{% endfor %}
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
    </section>
    <!-- end food section -->
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img loading="lazy" src="media/about-img.webp" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                San Miguel de Aralar...
                            </h2>
                        </div>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                            in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                            the middle of text. All
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Escríbenos...
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form action="">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" />
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->
    {% include footer.html %}
</body>

</html>