{% include head.html %}
{% assign index_page = site.pages | where: "path", "index.md" | first %}

<body class="sub_page">
    {% include header.html %}
    <!-- book section -->
    <section class="layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Nafarroako Pastoral Barrutiak
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-4">
                    <img src="/media/uap.webp" width="100%" style="width: 100%; margin-top: -30px; margin-bottom: 30px;">
                </div>
                <div class="col-md-6 col-sm-8">
                    {{ index_page.content }}
                </div>
                <div class="col-md-9" style="margin: auto;">
                    {% include module name='maps' %}
                </div>
            </div>
        </div>
    </section>
    <!-- food section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Gure herriak
                </h2>
            </div>
            {%- assign valleys = "" | split: "," -%}
            {%- for page in site.pages -%}
            {%- if page.valley -%}
            {%- assign valley = page.valley | strip -%}
            {%- unless valleys contains valley -%}
            {%- assign valleys = valleys | push: valley -%}
            {%- endunless -%}
            {%- endif -%}
            {%- endfor -%}
            <ul class="filters_menu">
                <li class="active" data-filter="*">Guztiak</li>
                {% for valley in valleys %}
                <li data-filter=".{{ valley }}">{{ valley }}</li>
                {% endfor %}
            </ul>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="search-container">
                            <input type="text" class="form-control search-input" placeholder="Bilatu...">
                            <i class="fas fa-search search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    {% for page in site.pages %}{% if page.path contains 'herriak' %}
                    <div class="col-6 col-sm-4 col-lg-3 all {{ page.valley | strip }}" style="padding: 0 7px">
                        <a href="{{page.url}}">
                            <div class="box">
                                <div>
                                    <div class="img-box default-bg">
                                        <img loading="lazy" src="{{ page.image }} " alt="">
                                    </div>
                                    <div style="padding: 20px; text-align: center;">
                                        <h4 class="notr" style="text-transform: capitalize;">
                                            {{ page.title | default: page.name | capitalize | replace: ".md", "" }}
                                        </h4>
                                        <!--<p>
                                            Veniam debitis quaerat officiis quasi...
                                        </p>
                                        <div class="options">
                                            <h6>
                                            </h6>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}{% endfor %}
                </div>
            </div>
            <!--<div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>-->
        </div>
    </section>
    <!-- end food section -->
    {% include footer.html %}
</body>

</html>