{% include head.html %}

<body>
    {% include header.html %}
    <!-- about section -->
    <section class="layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>{{ page.title | default: page.name | capitalize | replace: ".md", "" }} <a>ezagutu</a>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin: auto;">
                    {% include module name='facade' yt=page.video %}
                </div>
                {% assign cleaned_content = content | strip | replace: '\n', '' %}
                {% if cleaned_content != '' %}
                <div class="col-md-6">
                    <div class="detail-box">
                        {{ content }}
                    </div>
                </div>
                {% endif %}
                {% comment %}
                {% include module name='gallery' filter=page.title %}
                {% endcomment %}
            </div>
        </div>
    </section>
    <section class="layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Azken ospakizunak</h2>
            </div>
            <div class="row">
                {% assign filter= page.title | replace: 'igoa eta aizarotz' , 'igoa|aizarotz' %}
                {% include module name='infinite' filter=filter %}
            </div>
        </div>
    </section>
    <section class="layout_padding-bottom">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>Non Gaude</h2>
            </div>
            <div class="row">
                <div class="col-xl-8" style="margin: auto;">
                    {% include module name='maps' filter=page.title %}
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    {% include footer.html %}
</body>

</html>